* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Gustavo' ;
    src: url(font/comune.otf);
}
 
body {
  margin: 40px;
  overflow: hidden;
  background-color: #f7f0e6;
  cursor: url(IMG/faccina.png), auto;  
  /* min-height: 98vh; */
  height: auto;
  overflow-y: scroll;
}
 
/*----------------------------------------------------------->CHANGING QUOTES*/ 
 
.text{
  margin-top: 1.6vh;
  /*margin-left: 2.5vw;*/
  font-family: "Gustavo";
  color: black;
  font-size: 24px;
  flex-direction: column;  
}

.type{
  margin-top: -3vh;
  margin-left: 0.14vw;
}
  
#rectangle {
  width:100%;
  height:0.16vh;
  background:black;
  position:absolute;
  margin-top:1.6vh;
  left:0;
}

 /*----------------------------------------------------------->MIDDLE TEXTS*/ 
 #lista{

  font-family: "Gustavo";
  color: black;
  /* font-size: 52px; */
  /* border: 1px solid red; */
  font-size: 2.9vw;
  height: auto;
  
}
#Textintro0{
  margin-right: 4%;
  margin-top: 9vh;
  font-family: "Gustavo";
  color: black;
  /* font-size: 52px; */
  /* border: 1px solid red; */
  font-size: 2.9vw;
  height: auto;
}
 #Textintro{
  margin-top: -2.5vh;
  font-family: "Gustavo";
  color: black;
  /* font-size: 52px; */
  /* border: 1px solid red; */
  font-size: 2.9vw;
  width: 90%;
  height: auto;
  
}

#Textintro2{
  font-family: "Gustavo";
  color: black;
  /* font-size: 36px; */
  font-size: 1.5vw;
  width: 80%;
  height: 10vh;
  /* border: 1px solid blue; */
}

/*----------------------------------------------------------->COMMUNICATION ANIMATION*/ 

.lista {
  display:inline-flex;
}
  
#connections {
  list-style: none;
  animation: loading 4s linear infinite;
}
  
@keyframes loading {
  0% {
    transform: translateX(0vw);
    letter-spacing: 0.6vw;
    opacity:2;
  }

  10% {
    opacity:0;
    letter-spacing: -0.2vw;
  }
  30% {
      opacity: 0.3;;
      letter-spacing: 0.1vw;
    }

  50% {
    letter-spacing: 0.4vw;
    opacity: 2;
  }

  100% {
    transform: translateX(2vw);
    letter-spacing: 0.8vw;
    opacity: 1;
  }
}
  
#connections:nth-child(1) {
  animation-delay: .1s;
}

#connections:nth-child(2) {
  animation-delay: .2s;
}

#connections:nth-child(3) {
  animation-delay: .3s;
}

#connections:nth-child(4) {
  animation-delay: .4s;
}

#connections:nth-child(5) {
  animation-delay: .5s;
}

#connections:nth-child(6) {
  animation-delay: .6s;
}

#connections:nth-child(7) {
  animation-delay: .7s;
}

/*-----------------------------------------------------------> COLOR UNDERLINES*/ 
#sotto{ 
  background-color: rgba(33, 185, 84, 0.979);
}

/*-----------------------------------------------------------> BUTTONS*/ 

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 40px;
  right: 40px;
}
#painttool{
  color: black;

}

#b1, #b2 {
  background-color:#f7f0e6; 
  color: black;
  font-family: "Gustavo";
  font-size: 22px;
  border: 1px solid black;
  border-radius: 20px;
 padding: 0.6vw 2vh;
 text-decoration: none; 
}

#b1, #b2 {
  position: relative;
  margin-right: 5px;
  align-items: center;
}

#b3 {
  background-color:#f7f0e6; 
  color: black;
  font-family: "Gustavo";
  border: 1px solid black;
  position: absolute;
  right: 70px;
  margin-left: 84%;
 margin-top: -1.2%;
  width: 150px;
  font-size: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw 3vh;
  text-decoration: none; 
}


/*---------
#b3 {
  background-color:#f7f0e6; 
  color: black;
  font-family: "Gustavo";
  border: 1px solid black;
  position: absolute;
  right: px;
  width: 150px;
  font-size: 42px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw 3vh;
  text-decoration: none; 
}
*/
#b1:hover, #b2:hover, #b3:hover {
  background-color: white;
}

        
/*-----------------------------------------------------------> MAIL BUTTON*/   
#m1{
  color: black;
}
